.App {
  text-align: center;
}

.exercise-header{
  background-color: rgb(221, 142, 119);
  margin-top: 2rem;
}

.guarantee {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.guarantee-item{
  margin: 0 2rem;
}

.guarantee-item img {
  width: 4rem;
}