.app{
  margin: auto;
}

.main-header{
  text-align: center;
}

.city-box {
  width: 25rem;
  margin: 4rem auto;
  padding-left: 2rem;
  border: 2px solid rgb(197, 190, 190);
}

.city-box__header{
  margin-bottom: 1.5rem;
}

.city-box__weather{
  margin-bottom: 2.5rem;
  line-height: 0.25rem;
}